* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  --background-color: #151515;
  --brandingColor: #686484;
  --headerColor: #D9D9D9;
  --paragraphColor: #D4CCBC;
  --main-padding: 2rem;
  --main-transition: .25s;
  color: var(--paragraphColor, #D4CCBC);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.container {
  padding: var(--main-padding) 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


section .title {
  margin: 3rem 0;
}

section .title h2 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: clamp(1rem,5vw,2.5rem);
  color: var(--headerColor, #D5CDBC);
  position: relative;
}

.title h2::before,
.title h2::after {
  content: "";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--brandingColor, #57517c);
}

.title h2::before {
  left: -2rem;
  transition: .2s;
  z-index: -1;
}

.title h2::after {
  right: -2rem;
  transition: .2s;
  z-index: -1;
}

.title h2:hover::before {
  left: -.5rem;
  height: 100%;
  border-radius: 0;
  width: 60%;
}
.title h2:hover::after {
  right: -.5rem;
  height: 100%;
  border-radius: 0;
  width: 51%;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem
}

.main-grid .image img {
  width: 100%;
  display: block;
  animation: landing-image 2s linear infinite alternate;

}

.main-grid .main-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem
}

.main-grid .main-content h3 {
  width: 100%;
  font-size: clamp(1.5rem,5vw,3rem);
  line-height: 1.2;
  color: var(--headerColor, #D5CDBC);
  position: relative;
}

.main-grid .main-content p {
  line-height: 1.8;
  font-size: clamp(.9rem, 5vw, 1.3rem);
  color: var(--paragraphColor, #D4CCBC)
}

.main-grid .main-content button {
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--paragraphColor, #D4CCBC);
  border: 3px solid var(--paragraphColor, #D4CCBC);
  background-color: transparent;
  cursor: pointer;
  transition: var(--main-transition, .25s);
  transition-property: color, background-colo;
}

.main-grid .main-content button:hover {
  color: var(--background-color, #151515);
  background-color: var(--paragraphColor, #D4CCBC);
}

@media (max-width: 767px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
  .main-grid .main-content p {
    line-height: 1.4;
  }
}



body {
  background-color: var(--background-color, #151515);
}

/* Section Header Styling */

header {
  background-color: #D9D9D9;
  color: var(--background-color, #151515);
  position: relative;
}

header .container {
  --main-padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header .container .logo p {
  color: var(--background-color, #151515);
  font-size: 2rem;
  font-weight: bolder;
  position: relative;
  cursor: pointer;
}

header .container .logo p::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--brandingColor, #686484);
  position: absolute;
  right: -10px;
  bottom: 7px;
}

header .container .main-span {
  display: none;
  width: 25px;
  gap: .25rem;
  cursor: pointer;
}
.main-span span {
  width: 100%;
  height: 2px;
  background-color: var(--background-color);
  display: block;
}
header .container .main-span span:last-child {
  transition: var(--main-transition);
}
header .container .main-span:hover span:last-child {
  width: 10px;
}

header .container ul {
  list-style: none;
  padding: 0;
  height: fit-content;
  display: flex;
  gap: 1rem;
}


header .container ul li a {
  color: var(--background-color, #151515);
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem;
  transition: .25s;
}

header .container ul li a:hover {

  color: #57517c;
}

@media (max-width: 767px) {
  header .container .main-span {
    display: grid;
  }
  header .container ul {
  flex-direction: column;
  background-color: var(--headerColor, #D4CCBC); 
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: -99;
  opacity: 0;
  gap: 0rem;
  
  }
  header .container ul li a {
    border-top: 1px solid rgba(0, 0, 0, .1) ;
    padding: 1rem;
  }
  header .container ul li a:hover {
    padding-left: 2rem; 
  }
  
  header .container .main-span:hover + ul {
    opacity: 1;
    z-index: 1;
  }
}

/* Section Header Styling End */

.landing {}

.landing .container {
  height: calc(100vh - 72px);
  align-items: center;
  font-size: term(1px, 20px, 222px);
}


@media (max-width: 767px) {
  .landing .container {
    height: fit-content;
  }
}

.landing .container .image img {
  animation: landing-image 2s linear infinite alternate;
}

/* Section Projects Styling */
.project-stats {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-stats .stat {
  padding: 2rem;
  border-radius: .75rem;
  border: 3px solid var(--paragraphColor, #D4CCBC);

  display: flex;
  flex-wrap: wrap;
}

.project-stats .stat h4 {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  transition: var(--main-transition, .25s);
  transition-property: color, background-color;

}

.project-stats .stat h4:after {
  content: " " attr(data-version);
}

.project-stats .stat h4:hover {
  background-color: var(--paragraphColor, #D4CCBC);
  color: var(--background-color, #151515);
}

.project-stats .stat>div {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;

}

.project-stats .stat div img {
  width: 70px
}

.project-stats .stat>div p {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-stats .stat>div p span {
  font-weight: bolder;
  padding: .2rem;
  border-radius: .25rem;
  color: #151515;
  background-color: #D4CCBC;
}

/* Section Projects Styling End */

/* Section Project 1 */
.project-1 {
  margin-top: 5rem;
}
.project-1 .images-scroll {
  position: relative;
}
.project-1 .images-scroll::before {
  content: "\f30b";
  font-weight: 600;
  font-family: var(--fa-style-family-classic);
  font-size: 1.5rem;
  color: var(--background-color, #151515);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  animation: move-right 2s infinite alternate linear ;
  
}

.project-1 .images {
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: .25rem;
}
.images::-webkit-scrollbar {
  display: none;
}
.project-1 .images img {
  width: 90%;
  display: block;
}


/* Animation Time */

@keyframes landing-image {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(20px);
  }
}

@keyframes move-right {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(-20px, -50%);
  }
}

